@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center font-semibold text-white transition shadow-md rounded-xl;
    height: 48px; /* ajusta según tu diseño */
    padding-left: 24px;
    padding-right: 24px;
    background: linear-gradient(
      135deg,
      hsl(217 73% 16%),
      hsl(210 69% 27%),
      hsl(206 69% 44%)
    );
  }

  .btn:hover {
    opacity: 0.9;
  }
}